<header class="flex justify-content-between container fixed-top">
    <div class="flex">
        {{> Logo
            hex-color = "#1da1f2"
        }}
    <h2 class="text-primary pl-2 pt-2">
        Inicio
    </h2>
    </div>
    {{>Button
        btn-name ="Cerrar Sesion"
        class = "btn btn-primary btn-tiny my-2 pt-1 mr-1"
    }}
    <div class="fixed-bottom bg-none" id="btn-tweet">
        {{>TweetButton}}
    </div>
</header>