<div class="input_form my-2">
    <label for="{{name-input}}" class="py-1">
        {{text-label}}
        <input type="{{type-input}}" name="{{name-input}}" class="input-space py-1">
    </label>
</div>