<div class="modal d-none flex f-column p-3">
    <div class="modal-container p-3 justify-content-center">
        <div class="flex justify-content-between">

            <h2 class="isLetterWhite">Nuevo Tweet </h2>
            <span class="text-primary" id="close-modal">Cerrar</span>
        </div>
            {{>Form
            class = "isLetterWhite"
            }}
        <div class="text-center">
            {{>Button
            btn-name ="Twittear"
            class = "btn btn-primary btn-tiny my-2 pt-1 mr-1"
            }}
        </div>
    </div>
</div>