<div class="tweet-container">
    <div class="pl-2 pr-1 isLetterWhite py-1">
        <span>{{nombre-usuario}}</span>
        <span><small class="text-secondary">@{{nombre-usuario}}</small></span>
        <p>{{tweet-contenido}}</p>
    </div>
</div>