{{!-- vista home --}}
<div class="container d-none" id="containerPrincipal">
    {{> Header}}
    {{#each tweet}}
    {{> Tweets
    nombre-usuario = this.username
    tweet-contenido = this.mensaje
    }}
    {{/each}}
    {{> Modal}}
</div>

{{!-- loader --}}
<div class="container-load flex f-column center-layout p-3 mobile " id="loader">
    {{> Logo
    hex-color= "#fff"
    }}
    <span class="isLetterWhite">Cargando...</span>
</div>
<script>
    //envio token y validacion al cargar página//
    (async () => {
        try {
            const containerPrincipal = document.querySelector("#containerPrincipal")
            const loader = document.querySelector("#loader")
            const token = localStorage.getItem("token")
            if (!token) {
                location.replace("http://localhost:3000/login")
            }
            const { data } = await axios.post("http://localhost:3000/verify", {
                token: token
            })
            if (!data) {
                throw new Error("Autenticacion fallida")
            }
            loader.style.display = "none"
            containerPrincipal.style.display = "block"
            localStorage.setItem("user", data)
        } catch (error) {
            localStorage.removeItem("token")
            localStorage.removeItem("user")
            console.log(error)
            location.replace("http://localhost:3000/login")
        }
    })()

    //Elementos del DOM
    const btnTweet = document.querySelector("#btn-tweet")
    const sendTweet = document.querySelector(".modal-container > .text-center > .text-center > button")
    const closeModal = document.querySelector("#close-modal")
    const modal = document.querySelector(".modal")
    const header = document.querySelector("header")
    const cerrarSesion = document.querySelector("button")
    const inputTweet = document.querySelector("textarea")
    
    btnTweet.addEventListener("click", () => {
        modal.classList.remove("d-none")
    })
    closeModal.addEventListener("click", () => {
        modal.classList.add("d-none")
    })
    modal.addEventListener("click", (e) => {
        if (modal === e.target) {
            // put your code here
            modal.classList.add("d-none")
        }
    })
    cerrarSesion.addEventListener("click", () => {
        localStorage.removeItem("token")
        location.reload("/login")
    })
    sendTweet.addEventListener("click", async () => {
        const tweetContent = `${inputTweet.value}`
        const token = localStorage.getItem("token")
        try {
            if (!tweetContent) {
                throw new Error("No se puede crear un tweet sin contenido")
            }
            if (tweetContent.length > 250) {
                inputTweet.value = ""
                throw new Error("Longitud máxima sobrepasada")
            }
            const { data } = axios.post("http://localhost:3000/home", {
                token: token,
                tweet: tweetContent
            })
            modal.classList.add("d-none")
            location.reload()
        } catch (error) {
            alert(error.message)
        }
    })
</script>