<div class="container flex f-column p-3 mobile">
    <div>

    {{> Logo
        hex-color = "#fff"
    }}
    </div>

    <h1 class="isLetterWhite">Crea tu cuenta</h1>
    {{> Form
    class = "isLetterWhite"
    }}
    {{>Button
    class="btn btn-primary"
    btn-name= "Iniciar Sesión"
    }}
</div>